<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,width=device-width">
  <title>모바일 Layout</title>
  <link rel="stylesheet" href="css/common.css">
</head>
<body>
  <div id="kakaoWrap">
    <header id="kakaoHead">
      <div class="k_head">
        <h1>
          <a href="#none" id="kakaoLogo">Daum(text)</a>
          <a href="#none" id="kakaoServiceLogo">서비스명(text)</a>
        </h1>
      </div>
      <strong class="screen_out">관련 서비스</strong>
      <nav>
        <h2>서비스명 메뉴</h2>
        <ul>GNB</ul>
      </nav>
    </header>
    <hr class="hide">
    <main id="kakaoContent" class="cont_폴더명">
      <div id="mFeature">
        <nav>
          <ul>SNB</ul>
        </nav>
      </div>
      <article id="mArticle">content</article>
      <aside id="mAside">
        <div id="hottrendsContainer">실시간이슈</div>
        <div id="kakaoAd">광고 Daum Ad @m</div>
      </aside>
    </main>
    <hr class="hide">
    <div id="footContent">앱센터 &amp; 맨위로</div>
    <footer id="kakaoFoot">
      <h2 class="screen_out">서비스 이용정보</h2>
      <small>copyright</small>
    </footer>
  </div>
</body>
</html>
