<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>PC Layout</title>
  <link rel="stylesheet" href="css/common.css">
</head>
<body>
  <div id="kakaoIndex">
    <a href="#kakaoBody">본문 바로가기</a>
    <a href="#kakaoGnb">메뉴 바로가기</a>
  </div>
  <div id="kakaoWrap" class="서비스명_type1">
    <div id="kakaoHead" role="banner">
      <h1>
        <a href="#none" id="kakaoServiceLogo">서비스명(text)</a>
      </h1>
      <ul id="kakaoRelServices">관련 서비스들</ul>
      <div id="kakaoGnb" role="navigation">
        <ul>GNB</ul>
      </div>
    </div>
    <hr class="hide">
    <div id="kakaoContent" class="cont_폴더명" role="main">
      <div id="cSub">#cSub</div>
      <div id="cMain">
        <div id="mFeature">
          <div role="navigation">
            <ul>SNB</ul>
          </div>
        </div>
        <div id="mSub">#mSub</div>
        <div id="mArticle">
          <h2 id="kakaoBody">서비스명 본문</h2>
        </div>
        <div id="mAside">#mAside</div>
        <div id="mEtc">#mEtc</div>
      </div>
      <div id="cEtc">#cEtc</div>
    </div>
    <hr class="hide">
    <div id="kakaoFoot" role="contentinfo">
      <h2 class="screen_out">서비스 이용정보</h2>
      <a href="#none" class="link_info"></a>
      <small class="txt_copyright">copyright</small>
    </div>
    <div id="wrapMinidaum"></div>
  </div>
</body>
</html>
